@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../scss/variables.scss";

html,
body {
  position: relative;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-height: 100vh;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  padding: 2rem;
  background-color: $background;
}
