.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chooseBodyPart {
  margin-left: 50px;
  background-color: $darkgray;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-weight: bold;
  transition: transform 0.3s;
  &:hover {
    background-color: $green;
    transform: scale(1.05);
  }
}
