@import "../scss/variables.scss";

.spa {
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  background-image: url(../src/assets/1000_F_271481355_xtuD0PDi1aAScQiom1D6ro8bWIlcPzED.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
