$background: rgba(188, 187, 187, 0.558);
$orange: #d68b454d;
$pink: #ffc9b9;
$gray: #c2c2c279;
$pinktransparent: #ffc9b94e;
$darkpink: #ffa488b6;
$light: #fefee3;
$green: #4c956c60;
$darkgreen: #2c6e497c;
$darkgreentransparent: #2c6e493b;
$darkgray: #585757c6;
$nav: #ffffff9e;
$focus: #ffffff5b;
$sm: 576px;
$md: 768px;
$lg: 992px;
